.root
{
	-fx-background-color:rgb(128,64,64);
}

#iteration
{
	-fx-background-color: rgb(255,255,255);
}

#precision
{
	-fx-background-color:rgb(255,255,255);
}

#textArea
{
	-fx-background-color: #FFE680;
}
.button
{
	-fx-background-color:rgb(0,255,128);
	-fx-text-fill:rgb(26,0,104);
}